
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>AdminHome</h2>

<div class="table-responsive">
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th class="border-top-0">#</th>
                <th class="border-top-0">First Name</th>
                <th class="border-top-0">Last Name</th>
                <th class="border-top-0">Username</th>
                <th class="border-top-0">Role</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>1</td>
                <td>Deshmukh</td>
                <td>Prohaska</td>
                <td>a</td>
                <td>admin</td>
            </tr>
            
        </tbody>
    </table>
</div>