
@{
    Layout = null;
}
<center>
    <div class="container text-center">
        <div class="content-404">
            <img src="~/Content/img/sleeping-person.jpg" style="height: 400px;width: 400px; margin-top: 30px" />
            <h1><b>OPPS!</b> Stop Here</h1>
            <p>You are banned due to your bad behavior in our website</p>
        </div>
    </div>
</center>
