
@{
    Layout = null;
}
<center>
    <div class="container text-center">
        <div class="content-404">
            <img src="~/Content/img/sleeping-person.jpg" style="height: 400px;width: 400px; margin-top: 30px" />
            <h1><b>OPPS!</b> Access denied</h1>
            <p>Uh... You don't have permission to access this page</p>
        </div>
    </div>
</center>

