
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageForSpecific.cshtml";
    String username = ViewBag.User_name;
    String password = ViewBag.Pass;
    string mess = ViewBag.mess;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Login Form</title>
</head>

<body style="background-color: #15161D">
    <div id="logreg-forms">
        @using (Html.BeginForm("Index", "SignIn", FormMethod.Post, new { @class = "form-signin" }))
        {
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <input name="email" value="@username" type="text" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
            <input name="pass" value="@password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <h6 class="text-danger">@ViewBag.Mess</h6>
            <!--<div class="form-group form-check">
            <input name="remember" value="1" type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div> -->
            <div class="form-group form-check">
                <input name="remember" type="checkbox" class="form-check-input" value="yes" id="cbrem" />
                <label class="form-check-label ml-4 mt-1" for="cbrem">Remember me</label>
            </div>
            <a href="/SignIn/Forgot" id="forgot"><i class="fas fa-angle-left"></i> Forgot Password</a>
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            <hr>
            <p class="text-success">@mess</p>
            <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
        }

        @using (Html.BeginForm("SignUp", "SignIn", FormMethod.Post, new { @class = "form-signup" }))
        {
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
            <input name="email" type="text" id="user-email" class="form-control" placeholder="Email" required autofocus="">
            <input name="name" type="text" class="form-control" placeholder="Which should we call you" required autofocus="">
            <input name="pass" type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
            <input name="repass" type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">
            <!--<h6 class="text-danger">ViewBag.Mess</h6>-->
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
            <a href="" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>
        }
        <br>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function toggleResetPswd(e) {
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle() // display:block or none
            $('#logreg-forms .form-reset').toggle() // display:block or none
        }
        function toggleSignUp(e) {
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle(); // display:block or none
            $('#logreg-forms .form-signup').toggle(); // display:block or none
        }
        $(() => {
            // Login Register Form
            $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
            $('#logreg-forms #cancel_reset').click(toggleResetPswd);
            $('#logreg-forms #btn-signup').click(toggleSignUp);
            $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })
    </script>
</body>
</html>

